ul {
    list-style-type: none;
}

#browser {
    background-color: #999;
    height: 768px;
}

#browser #categories {
    background-color: #fff;
    float: left;
    width: 128px;
    margin: 8px;
}

#browser #view-port {
    background-color: #fff;
    float: left;
    margin: 8px;
}

#hierarchy {
    height: 512px;
    width: 768px;
    overflow-y: scroll;
}

.resources {
    margin-left: 2em;
    font-size: 8pt;
}

.resources .children {
    margin-left: 3em;
}

/* SimpleModal styles */
#simplemodal-overlay {
    background: #000;
}

#simplemodal-container {
    background: #fff;
    padding: 1em;
    border: 2px solid #000;
    border-radis: 4px;
}

#simplemodal-container a.modalCloseImg {
    background:url(/images/x.png) no-repeat; /* adjust url as required */
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}