<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>CCSS</title>
	<meta name="description" content="">
	<meta name="author" content="Navigation North Learning Solutions LLC">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/site.css">

	<script src="javascripts/head.min.js"></script>

	<script>
	  head.js("javascripts/libs/modernizr-2.0.6.min.js");
      head.js("//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js");
	</script>

</head>
<body>

<script>
  var loadNodes = function (query, parent) {
    var data = parent ? { parent: parent} : {}; // send parent if provided


    $.ajax({
        url: "/nodes",
        data: data
      }).done(function (response) {
        query.append(response);

        query.find('.expand-node').click(function (e) {
          var children = $(e.target).parent().children(".children");

          //console.log(children);
          loadNodes(children, $(e.target).data('id'));

          $(e.target).val(" - ");
          $(e.target).off('click'); // remove handler
          $(e.target).click(function(e2) {
            $(e.target).val() === " + " ? $(e.target).val(" - ") : $(e.target).val(" + ");
            children.toggle();
          });
        });
      });
  };

  head.ready(function() {
    $(document).ready(function () {
      loadNodes($('#hierarchy'));
    });
  });
</script>

<div id="hierarchy"></div>
    
<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
