<ul>
  {{#nodes}}
    <li class="node">
      {{#hasChildren}}
        <span class="expand-node" data-id="{{id}}" />
      {{/hasChildren}}
      <b class="statement-notation">{{{asn_statementNotation}}}</b>
      <span class="text">{{{text}}}</span>
      <div class="resources" data-id="{{asn_identifier}}">
	<span class="expand-resource" data-id="{{asn_identifier}}"></span>
	<span class="resource-count"></span>
	<div class="children"></div>
      </div>
      <div class="children">
      </div>
    </li>
  {{/nodes}}
</ul>
